body{
		background: #2c3e50;
}
[a]
.main-container{
	text-align: center;

}
section{
	margin-top: 3%;
}
iframe{
	border:5px solid #34495e;
}
a{

	dtext-transform: uppercase;
	background: #3498db;
	padding:15px 30px;
	border-radius: 20em;
	width: 200px;
	text-decoration: none;
	margin: 0 10px;
	color:#fff ;
}
a:hover{
	background: #2980b9;
}
 